export(FAMD,AovSum,autoLab,CA,catdes,coeffRV,condes,coord.ellipse,descfreq,dimdesc,DMFA,estim_ncp,GPA,graph.var,HCPC,HMFA,MCA,MFA,PCA,plot.FAMD,plot.CA,plot.catdes,plot.DMFA,plot.GPA,plotGPApartial,plotellipses,plot.HCPC,plot.HMFA,plot.MCA,plot.MFA,plotMFApartial,plot.PCA,plot.spMCA,prefpls,print.FAMD,print.CA,print.GPA,print.HCPC,print.HMFA,print.MCA,print.MFA,print.PCA,print.spMCA,reconst,RegBest,simule,svd.triplet,spMCA,summary.CA,summary.FAMD,summary.MCA,summary.MFA,summary.PCA,tab.disjonctif,tab.disjonctif.prop,textual,write.infile)
importFrom(leaps,leaps)
importFrom(car,Anova)
importFrom(lattice,xyplot,ltext,llines,lpoints,panel.xyplot,panel.grid,trellis.par.get)
importFrom(scatterplot3d,scatterplot3d)
importFrom(cluster,agnes)