export(AFDM,CA,catdes,coeffRV,condes,coord.ellipse,dimdesc,DMFA,estim_ncp,GPA,graph.var,HCPC,HMFA,MCA,MFA,PCA,plot.AFDM,plot.CA,plot.catdes,plot.DMFA,plot.GPA,plot.GPApartial,plotellipses,plot.HCPC,plot.HMFA,plot.MCA,plot.MFA,plot.MFApartial,plot.PCA,prefpls,print.AFDM,print.CA,print.GPA,print.HMFA,print.MCA,print.MFA,print.PCA,reconst,simule,svd.triplet,tab.disjonctif,textual,write.infile)
